*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/BACCalculator/.git
/BasicChat/.git
/ChatMessenger/.git
/DataPassing/.git
/ExpenseManagerApp/.git
/FinalExam/.git
/GooglePlacesAPI/.git
/HTTP_DEMO/.git
/ImageViewer/.git
/ITunesPodcast/.git
/JasonDemo/.git
/ListViewDemo/.git
/PasswordGenerator/.git
/StudentInfo/.git
/TriviaQuiz/.git
/WeatherNow/.git
/XMLPullPasingDemo/.git
/XMLSaxParsingDemo/.git